header {
    background-image: url('../img/banner.webp');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 384px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: rems(48px);
        vertical-align: middle;
    }
    p {
        font-size: rems(20px);
    }
}