// @import url(font)

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

.main {
    margin: 0;
    width: 100%;
}

a {
    color: inherit;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}