
@mixin mq($breakpoint) {
    @if $breakpoint == 'small' {
        @media (min-width: $breakpoint-small) {
            @content;
        }
    }
    @else if $breakpoint == 'medium' {
        @media (min-width: $breakpoint-medium) {
            @content;
        }
    }
    @else if $breakpoint == 'large' {
        @media (min-width: $breakpoint-large) {
            @content;
        }
    }
    @else if $breakpoint == 'xlarge' {
        @media (min-width: $breakpoint-xlarge) {
            @content;
        }
    }
    @else {
        @error "Invalid breakpoint size `#{$breakpoint}`"
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?65rcna') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@mixin icon($icon) {
    &::before {
        font-family: 'icomoon' !important;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        content: $icon;
    }
}
.icon-right {
    @include icon("\ea3c");
    height: 20px;
}
.chevron-down {
    @include icon("\f078");
}
.chevron-up {
    @include icon("\f077");
}