.projects {
    margin-top: rems(32px);
    padding-top: rems(32px);
    margin-bottom: rems(32px);
    padding-bottom: rems(32px);
    display: grid;
    grid-column-gap: rems(16px);
    grid-row-gap: rems(24px);
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    @include mq(medium) {
        grid-template-columns: 1fr 1fr
    }
    @include mq(large) {
        grid-template-columns: 1fr 1fr 1fr
    }

    .project {
        position: relative;
        top: 0;
        transition: .5s ease;
        text-decoration: none;

        img {
            width: 100%;
            max-width: 321.25px;
            height: auto;//256px;
        }

        h2 {
            text-align: left;
            font-size: rems(32px);
            margin: rems(8px) 0;
        }
        p {
            margin: 0;
        }

        &:hover {
            top: rems(-8px);
        }

    }
}