.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    @include mq(medium) {
        grid-template-columns: 1fr 1fr
    }
    @include mq(large) {
        grid-template-columns: 1fr 1fr 1fr
    }

    .project {
        text-decoration: none;

        img {
            height: 256px;
        }

        h2 {
            font-size: rems(32px);
            margin: rems(8px) 0;
        }
        p {
            margin: 0;
        }

    }
}