.scs {
    margin-top: 16px;
    padding-bottom: 30px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
    }
}