.scs {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    div {
        align-items: center;
    }

    a {
        text-decoration: none;
        color: darken($color-theme, 15%);
        &:hover {
            text-decoration: underline;
            color: $color-theme;
        }
    }

    h2 {
        font-size: rems(32px);
        margin-bottom: rems(8px);
    }
    p {
        margin: 0;
        font-size: rems(20px);
        letter-spacing: rems(0.5px);
        text-align: left;
    }
}