

$color-background: #fff;
$color-borders: #7cc;

$color-input-background: #ddd;
$color-input-placeholder: #999;
$color-input-button: #000;
$color-input-button-background: #fff;


$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
