

$color-background: #fff;
$color-theme: #7c7;

$color-input-background: #ddd;
$color-input-border: #ccc;
$color-input-placeholder: #999;
$color-input-button: #000;
$color-input-button-background: #fff;

$color-input-wrong: #d33;
$color-input-background-wrong: #ecc;
$color-input-border-wrong: #f99;
$color-success: #7c7;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
