/* line 3, ../../portfolio/website/scss/_layout.scss */
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
}

/* line 10, ../../portfolio/website/scss/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../../portfolio/website/scss/_layout.scss */
.main {
  margin: 0;
  width: 100%;
}

/* line 19, ../../portfolio/website/scss/_layout.scss */
a {
  color: inherit;
}

/* line 23, ../../portfolio/website/scss/_layout.scss */
.container {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 2, ../../portfolio/website/scss/_sidemenu.scss */
.nav-burger {
  position: absolute;
  display: flex;
  flex-basis: 3.9375rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: 3.9375rem;
  height: 3.5rem;
  margin: 1rem;
  line-height: 2.875rem;
  font-size: 1.125rem;
  border-radius: 0.1875rem;
  background-color: #7cc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

@media (min-width: 576px) {
  /* line 2, ../../portfolio/website/scss/_sidemenu.scss */
  .nav-burger {
    display: none;
  }
}

/* line 18, ../../portfolio/website/scss/_sidemenu.scss */
.nav-burger:hover {
  background-color: #59c1c1;
}

/* line 27, ../../portfolio/website/scss/_sidemenu.scss */
.nav-burger div {
  background-color: #fff;
  width: 1.875rem;
  height: 0.25rem;
}

/* line 34, ../../portfolio/website/scss/_sidemenu.scss */
nav {
  display: none;
}

@media (min-width: 576px) {
  /* line 34, ../../portfolio/website/scss/_sidemenu.scss */
  nav {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-right: 0.125rem solid #7cc;
    flex: 0 0 9.375rem;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

/* line 47, ../../portfolio/website/scss/_sidemenu.scss */
nav div {
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1rem;
}

/* line 53, ../../portfolio/website/scss/_sidemenu.scss */
nav a {
  text-decoration: none;
  text-underline-offset: 0.25rem;
  cursor: pointer;
}

/* line 59, ../../portfolio/website/scss/_sidemenu.scss */
nav div > a:hover {
  text-decoration: underline solid #7cc 0.09375rem;
}

/* line 64, ../../portfolio/website/scss/_sidemenu.scss */
nav h1 {
  margin: 0;
  color: #7cc;
  font-size: 4rem;
  height: 100px;
  border-bottom: 0.125rem solid #7cc;
}

/* line 71, ../../portfolio/website/scss/_sidemenu.scss */
nav h1 a {
  padding: 0.5rem;
}

/* line 76, ../../portfolio/website/scss/_sidemenu.scss */
nav .contact-highlight {
  border-top: 0.125rem solid #7cc;
  border-bottom: 0.125rem solid #7cc;
  font-weight: 600;
}

/* line 1, ../../portfolio/website/scss/_header.scss */
header {
  height: 384px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 9, ../../portfolio/website/scss/_header.scss */
header h1 {
  font-size: 2rem;
  vertical-align: middle;
}

/* line 1, ../../portfolio/website/scss/_projects.scss */
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

@media (min-width: 768px) {
  /* line 1, ../../portfolio/website/scss/_projects.scss */
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  /* line 1, ../../portfolio/website/scss/_projects.scss */
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 12, ../../portfolio/website/scss/_projects.scss */
.projects .project {
  text-decoration: none;
}

/* line 15, ../../portfolio/website/scss/_projects.scss */
.projects .project img {
  height: 256px;
}

/* line 19, ../../portfolio/website/scss/_projects.scss */
.projects .project h2 {
  margin: 0.5rem 0;
}

/* line 22, ../../portfolio/website/scss/_projects.scss */
.projects .project p {
  margin: 0;
}

/* line 1, ../../portfolio/website/scss/_contact.scss */
.contact {
  margin-top: 2rem;
}

@media (min-width: 992px) {
  /* line 1, ../../portfolio/website/scss/_contact.scss */
  .contact {
    display: flex;
  }
}

/* line 7, ../../portfolio/website/scss/_contact.scss */
.contact > div {
  margin-right: 1.875rem;
  flex-basis: 150px;
  min-width: 150px;
  flex-grow: 1;
}

/* line 12, ../../portfolio/website/scss/_contact.scss */
.contact > div h2 {
  margin: 0;
}

/* line 16, ../../portfolio/website/scss/_contact.scss */
.contact form {
  flex-basis: 300px;
  flex-grow: 2;
}

/* line 19, ../../portfolio/website/scss/_contact.scss */
.contact form .hidden {
  display: none;
}

/* line 22, ../../portfolio/website/scss/_contact.scss */
.contact form textarea {
  font-family: inherit;
}

/* line 25, ../../portfolio/website/scss/_contact.scss */
.contact form input, .contact form textarea {
  background-color: #ddd;
  border: 2px solid #ddd;
}

/* line 27, ../../portfolio/website/scss/_contact.scss */
.contact form input::placeholder, .contact form textarea::placeholder {
  color: #999;
}

/* line 32, ../../portfolio/website/scss/_contact.scss */
.contact form input, .contact form textarea, .contact form button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
}

/* line 37, ../../portfolio/website/scss/_contact.scss */
.contact form input:focus, .contact form textarea:focus {
  border-color: #7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 204, 204, 0.6);
}

/* line 41, ../../portfolio/website/scss/_contact.scss */
.contact form button:focus, .contact form button:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

/* line 44, ../../portfolio/website/scss/_contact.scss */
.contact form button {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  width: 128px;
}

/* line 51, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid {
  display: grid;
  gap: 0.875rem;
  grid-template-columns: 1fr;
  grid-template-areas: 'first-name' 'last-name' 'email' 'subject' 'message';
  margin-bottom: 0.875rem;
}

@media (min-width: 768px) {
  /* line 51, ../../portfolio/website/scss/_contact.scss */
  .contact form .form-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first-name last-name' 'email email' 'subject subject' 'message message';
  }
}

/* line 62, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid #first-name {
  grid-area: first-name;
}

/* line 65, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid #last-name {
  grid-area: last-name;
}

/* line 68, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid #email {
  grid-area: email;
}

/* line 71, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid #subject {
  grid-area: subject;
}

/* line 74, ../../portfolio/website/scss/_contact.scss */
.contact form .form-grid #message {
  grid-area: message;
}

/*# sourceMappingURL=styles.css.map */